.taskPage {
    padding: 20px 0 0 0;
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    grid-template-areas:
        "name editor"
        "group editor"
        "desc editor"
        "desc editor"
        "buttons buttons"
    ;
    grid-template-rows: auto auto 1.3fr 1fr auto;
    height: 100%;
    gap: 15px;
}

.group {
    grid-area: group;
}
.desc {
    grid-area: desc;
}

.name {
    grid-area: name;
}

.code {
    grid-area: editor;
}

.buttons {
    grid-area: buttons;
}